* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }
        .main-header {
           width: 100%;
           max-width: 100%;
           height: 98px;
           background-color: #163A24;
           display: flex;
           align-items: center;
           margin:0 auto;
           user-select: none;
        }
        .container {
            padding-left: 130px;
            padding-right: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

        }
        .nav-group {
            display: flex;
            align-items: center;
            gap: 24px;
        }
        .log-in{
            color: #ffffff;
            text-decoration: none;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
        .tel {
            color: #ffffff;
            text-decoration: none;
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
        .start-button {
            background-color: #198C36;
            color : #ffffff;
            padding: 15px 25px;
            border-radius: 50px;
            text-decoration: none;
        }
        .start-button:hover {
            background-color: #198C36;
            opacity: 0.8;
            transition: 0,3s;
        }
        .main-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color:#ffffff;
            background-color: #163A24;

        }
        .main-content .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .main-text {
            max-width: 550px;
        }
        .main-text h1 {
            font-size: 48px;
            margin-bottom: 20px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
        }
        .main-text p {
            font-size: 18px;
            line-height: 1.6;
        }
        .statements {
        background-color: #ffffff;
        padding-top: 100px;
        padding-bottom: 100px;
        width:100%;
        }
        
        .statements .container {
            display: block;
        }
        .statement-1 {
            display: flex;
            align-items: center;
            width:100%;
            justify-content: space-between;
        }
        
        .girl-image img {
            width: 492px;
            height: 510px;
            object-fit: contain;
            margin-left: 98px;
        }
        .statement-text h2{
            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
            padding-right: 98px;
            margin-right: 98px;
        }
        .statement-text p {
            font-size: 18px;
            line-height: 1.6;
            color: #163A24;
            padding-right: 98px;
        }
        .statement-2 {
            display: flex;
            align-items: center;
            width:100%;
            justify-content: space-between;

            padding-left: 98px;
        }

        .statement-2 .statement-2-text h2{
            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
            padding-right: 98px;
        }
        .statement-2 .statement-2-text p {
            font-size: 18px;
            line-height: 1.6;
            color: #163A24;
            padding-right: 98px;
        }
        .boy-image img {
            width: 492px;
            height: 423px;
            object-fit: contain;
            margin-right: 98px;
        }
        
        .partners {
            background-color: #ffffff;
            color: #163A24;
            padding-top: 100px;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;
            gap: 66px;
            align-items: center;
            padding-left: 130px;
            padding-right: 130px;
        }
        .partner-text h2 {
            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
        }
        .partner-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-left: 142px;
            padding-right: 142px;
        }
        .hr-production { 
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 74px;
            background-color: #163A24;
            padding-left: 130px;
            padding-right: 130px;
            padding-bottom: 120px;

        }
        .hr-production .hr-text h2 {
            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #ffffff;
            padding-top: 66px;
        }
        .hr-images {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-left: 89px;
            padding-right: 100px;
        }
        .employees {
            background-color: #F2EFE6;
            color: #163A24;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 130px;
            padding-right: 130px;
            gap: 27px;
            padding-top: 120px;
            padding-bottom: 120px;
            text-align: center;
        }
        .employees-text-1 {
            font-size: 35px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 54px;
        }
        .employees-text-2 {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
        }

        .scenes {
            background-color: #ffffff;
            color: #163A24;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 180px;
            padding-bottom: 120px;
            gap: 27px;
            padding-right: 130px;
            padding-left: 130px;
        }
        
        .scenes-text h2 {
            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 54px;
        }
        .scenes-text p {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
        }
        .scenes-image {
            object-fit: contain;
            padding-right: 98px;
            width: 492px;
            height: 423px;


        }
        .services {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            color: #163A24;
            padding-left: 130px;
            padding-right: 130px;
            padding-top: 120px;
            padding-bottom: 120px;
            gap: 24px;
        }
        .cards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
        .card-1 {
            background-color: #FBFAF7;
            padding: 50px 40px 66px 40px;
            border-radius: 20px;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 23px;
            box-shadow: 10px 8px 7px rgba(203, 190, 158, 0.8);
        }
        .card-2 {
            background-color: #FBFAF7;
            padding: 50px 40px 66px 40px;
            border-radius: 20px;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 23px;
            box-shadow: 10px 8px 7px rgba(203, 190, 158, 0.8);
        }
        .card-3 {
            background-color: #FBFAF7;
            padding: 50px 40px 66px 40px;
            border-radius: 20px;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 23px;
            box-shadow: 10px 8px 7px rgba(203, 190, 158, 0.8);
        }
        .cards ul li {
            margin-bottom: 15px;
        }
        .cards ul li:last-child {
            margin-bottom: 0;
        }
        .card-title {
            font-size: 28px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
        }
        card-list {
            font-size: 18px;
            line-height: 27px;
            color: #163A24;
        }
        .services-text h2 {
            font-size: 48px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
        }
        .services-text p {
            font-size: 18px;
            line-height: 27px;
            color: #163A24;
        }
        .fifi::selection {
            background-color: #8c1919;
            color: #3b41bd;
        }
        .buisness {
            background-color: #F2EFE6;
            color: #163A24;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 130px;
            padding-right: 130px;
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .buisness-text h2 {
            font-size: 42px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
            width: 360px;
            height: 54px;
            
        }
        .buisness-text p {
            font-size: 18px;
            margin-bottom: 24px;
            font-family: 'Recoleta', serif;
            line-height: 1.2;
            color: #163A24;
        }
        .scheme {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        }
        .book-button {
            background-color: #198C36;
            color : #ffffff;
            padding: 15px 25px;
            border-radius: 50px;
        text-decoration: none;
        }
        .book-button:hover {
            background-color: #198C36;
            opacity: 0.8;
            transition: 0,3s;
        }